ASPNETCORE_ENVIRONMENT=Development
ReverseProxy__TrustAllProxies=true
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=dummy_identity
MYSQL_DATABASES=dummy_identity,dummy_db
MYSQL_USER=dummyapp
MYSQL_PASSWORD=secret
Infrastructure__Databases__Identity__UseInMemory=false
Infrastructure__Databases__Identity__ConnectionString=server=mysql;port=3306;database=dummy_identity;user=dummyapp;password=secret
AzureWebJobsStorage=UseDevelopmentStorage=true
FUNCTIONS_WORKER_RUNTIME=dotnet-isolated
REACT_APP_BFF_HOST=https://bff.dummy.localhost
FeatureFlags__DefaultRolesSeed=true
FeatureFlags__DefaultUsersSeed=true
