ASPNETCORE_ENVIRONMENT=Development
ReverseProxy__TrustAllProxies=true
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=dummy_identity
MYSQL_USER=dummyapp
MYSQL_PASSWORD=secret
Database__UseInMemory=false
Database__ConnectionString=server=mysql;port=3306;database=dummy_identity;user=dummyapp;password=secret
